<section class="categories section-padding">
    <div class="container">
        <h2 class="categories-title h2">Browse Categories</h2>
        <ul class="cat-list">
            <li class="cat-list-item">
                <div class="img-wrapper">
                    <img class="cat-item-img" src="./img/categories/img2.jpg" alt="Art" width="148" height="142">
                    <svg class="cat-icon-svg" width="80" height="80">
                        <use class="cat-use-icon" href="./img/icons.svg#icon-PaintBrush"></use>
                      </svg>
                </div>
                  <h3 class="cat-name">Art</h3>
            </li>
            <li class="cat-list-item">
                <div class="img-wrapper">
                    <img class="cat-item-img" src="./img/categories/img5.jpg" alt="Collectibles" width="148" height="142">
                    <svg class="cat-icon-svg" width="80" height="80">
                        <use class="cat-use-icon" href="./img/icons.svg#icon-Swatches"></use>
                      </svg>
                </div>
                  <h3 class="cat-name">Collectibles</h3>
            </li>
            <li class="cat-list-item">
                <div class="img-wrapper">
                    <img class="cat-item-img" src="./img/categories/img1.jpg" alt="Music" width="148" height="142">
                    <svg class="cat-icon-svg" width="80" height="80">
                        <use class="cat-use-icon" href="./img/icons.svg#icon-MusicNotes"></use>
                      </svg>
                </div>
                  <h3 class="cat-name">Music</h3>
            </li>
            <li class="cat-list-item">
                <div class="img-wrapper">
                    <img class="cat-item-img" src="./img/categories/img8.jpg" alt="Photography" width="148" height="142">
                    <svg class="cat-icon-svg" width="80" height="80">
                        <use class="cat-use-icon" href="./img/icons.svg#icon-Camera"></use>
                      </svg>
                </div>
                  <h3 class="cat-name">Photography</h3>
            </li>
            <li class="cat-list-item">
                <div class="img-wrapper">
                    <img class="cat-item-img" src="./img/categories/img7.jpg" alt="Video" width="148" height="142">
                    <svg class="cat-icon-svg" width="80" height="80">
                        <use class="cat-use-icon" href="./img/icons.svg#icon-VideoCamera"></use>
                      </svg>
                </div>
                  <h3 class="cat-name">Video</h3>
            </li>
            <li class="cat-list-item">
                <div class="img-wrapper">
                    <img class="cat-item-img" src="./img/categories/img6.jpg" alt="Utility" width="148" height="142">
                    <svg class="cat-icon-svg" width="80" height="80">
                        <use class="cat-use-icon" href="./img/icons.svg#icon-MagicWand"></use>
                      </svg>
                </div>
                  <h3 class="cat-name">Utility</h3>
            </li>
            <li class="cat-list-item">
                <div class="img-wrapper">
                    <img class="cat-item-img" src="./img/categories/img4.jpg" alt="Sport" width="148" height="142">
                    <svg class="cat-icon-svg" width="80" height="80">
                        <use class="cat-use-icon" href="./img/icons.svg#icon-Basketball"></use>
                      </svg>
                </div>
                  <h3 class="cat-name">Sport</h3>
            </li>
            <li class="cat-list-item">
                <div class="img-wrapper">
                    <img class="cat-item-img" src="./img/categories/img3.jpg" alt="Virtual Worlds" width="148" height="142">
                    <svg class="cat-icon-svg" width="80" height="80">
                        <use class="cat-use-icon" href="./img/icons.svg#icon-Planet"></use>
                      </svg>
                </div>
                  <h3 class="cat-name">Virtual Worlds</h3>
            </li>
        </ul>
    </div>
</section>