<section class="discover section-padding">
  <div class="container container-flex">
    <div class="dis-title-wrapper">
      <h2 class="discover-title h2">Discover More NFTs</h2>
      <p class="discover-text">Explore new trending NFTs</p>
    </div>
    <ul class="discover-list">
      <li class="dis-list-item">
        <img class="dis-list-img" src="./img/discover/Image0.jpg" alt="" />
        <div class="dis-desc-wrapper">
          <h3 class="dis-desc-title">Distant Galaxy</h3>
          <div class="trend-avatar">
            <img
              class="avatar-img"
              src="./img/avatars/Avatar12.jpg"
              alt="BeKind2Robots"
              width="24"
              height="24"
            />
            <p class="avatar-name">MoonDancer</p>
          </div>
          <div class="dis-table">
            <p class="dis-desc-price dis-table-item caption-gray">Price</p>
            <p class="dis-desc-highest dis-table-item caption-gray">Highest Bid</p>
            <p class="dis-table-item">1.63 ETH</p>
            <p class="dis-table-item">0.33 wETH</p>
          </div>
        </div>
      </li>
      <li class="dis-list-item">
        <img class="dis-list-img" src="./img/discover/Image.jpg" alt="" />
        <div class="dis-desc-wrapper">
          <h3 class="dis-desc-title">Life on Edena</h3>
          <div class="trend-avatar">
            <img
              class="avatar-img"
              src="./img/avatars/Avatar12.jpg"
              alt="BeKind2Robots"
              width="24"
              height="24"
            />
            <p class="avatar-name">NebulaKid</p>
          </div>
          <div class="dis-table">
            <p class="dis-desc-price dis-table-item caption-gray">Price</p>
            <p class="dis-desc-highest dis-table-item caption-gray">Highest Bid</p>
            <p class="dis-table-item">1.63 ETH</p>
            <p class="dis-table-item">0.33 wETH</p>
          </div>
        </div>
      </li>
      <li class="dis-list-item">
        <img class="dis-list-img" src="./img/discover/Image-1.jpg" alt="" />
        <div class="dis-desc-wrapper">
          <h3 class="dis-desc-title">AstroFiction</h3>
          <div class="trend-avatar">
            <img
              class="avatar-img"
              src="./img/avatars/Avatar12.jpg"
              alt="BeKind2Robots"
              width="24"
              height="24"
            />
            <p class="avatar-name">Spaceone</p>
          </div>
          <div class="dis-table">
            <p class="dis-desc-price dis-table-item caption-gray">Price</p>
            <p class="dis-desc-highest dis-table-item caption-gray">Highest Bid</p>
            <p class="dis-table-item">1.63 ETH</p>
            <p class="dis-table-item">0.33 wETH</p>
          </div>
        </div>
      </li>
    </ul>
    <button class="btn btn-primary btn-top" type="button">
      <svg class="icon-svg-logo top-icon" width="20" height="20">
        <use class="use-icon" href="./img/icons.svg#icon-Eye"></use>
      </svg>
      See All
    </button>
  </div>
</section>
