<section class="info section-padding">
    <div class="container container-info">
        <div class="trend-avatar info-avatar">
            <img
              class="avatar-img"
              src="./img/avatars/Avatar12.jpg"
              alt="BeKind2Robots"
              width="24"
              height="24"
            />
            <p class="avatar-name">Spaceone</p>
          </div>
        <h2 class="info-title h2">Magic Mashrooms</h2>
        <div class="info-timer">
            <p class="info-timer-p">Auction ends in:</p>
            <ul class="timer-list">
                <li class="timer-list-item">
                    <p class="timer-item-digits">59</p>
                    <p class="timer-item-text">Hours</p>
                </li>
                <li class="timer-list-item">
                    <p class="timer-item-digits two-digits">59</p>
                    <p class="timer-item-text">Minutes</p>
                </li>
                <li class="timer-list-item">
                    <p class="timer-item-digits two-digits">59</p>
                    <p class="timer-item-text">Seconds</p>
                </li>
            </ul>
        </div>
        <button class="btn btn-primary btn-info" type="button">
            <svg class="icon-svg-logo top-icon" width="20" height="20">
              <use class="use-icon" href="./img/icons.svg#icon-Eye"></use>
            </svg>
            See NFT
          </button>
    </div>
</section>