<section class="top-creators section-padding">
  <div class="container top-flex">
    <div class="top-title-wrapper">
        <h2 class="top-c-title-h2 h2">Top creators</h2>
        <p class="top-c-text">Checkout Top Rated Creators on the NFT Marketplace</p>
    </div>
    <ul class="top-c-list">
      <li class="top-c-item">
        <span class="top-c-number">1</span>
        <img
          class="top-c-avatar-img"
          src="./img/avatars/Avatar1.jpg"
          alt="Keepitreal"
          width="60"
          height="60"
        />
        <div class="top-wrapper">
            <h3 class="top-c-title">Keepitreal</h3>
            <p class="top-avatar-desc">Total Sales: <span>34.53 ETH</span></p>
        </div>
      </li>
      <li class="top-c-item">
        <span class="top-c-number">2</span>
        <img
          class="top-c-avatar-img"
          src="./img/avatars/Avatar2.jpg"
          alt="DigiLab"
          width="60"
          height="60"
        />
        <div class="top-wrapper">
            <h3 class="top-c-title">DigiLab</h3>
            <p class="top-avatar-desc">Total Sales: <span>34.53 ETH</span></p>
        </div>   </li>
      <li class="top-c-item">
        <span class="top-c-number">3</span>
        <img
          class="top-c-avatar-img"
          src="./img/avatars/Avatar3.jpg"
          alt="GravityOne"
          width="60"
          height="60"
        />
        <div class="top-wrapper">
            <h3 class="top-c-title">GravityOne</h3>
            <p class="top-avatar-desc">Total Sales: <span>34.53 ETH</span></p>
        </div>
      </li>
      <li class="top-c-item">
        <span class="top-c-number">4</span>
        <img
          class="top-c-avatar-img"
          src="./img/avatars/Avatar4.jpg"
          alt="Juanie"
          width="60"
          height="60"
        />
        <div class="top-wrapper">
            <h3 class="top-c-title">Juanie</h3>
            <p class="top-avatar-desc">Total Sales: <span>34.53 ETH</span></p>
        </div>  </li>
      <li class="top-c-item">
        <span class="top-c-number">5</span>
        <img
          class="top-c-avatar-img"
          src="./img/avatars/Avatar5.jpg"
          alt="BlueWhale"
          width="60"
          height="60"
        />
        <div class="top-wrapper">
            <h3 class="top-c-title">BlueWhale</h3>
            <p class="top-avatar-desc">Total Sales: <span>34.53 ETH</span></p>
        </div>     </li>
      <li class="top-c-item">
        <span class="top-c-number">6</span>
        <img
          class="top-c-avatar-img"
          src="./img/avatars/Avatar6.jpg"
          alt="mr fox"
          width="60"
          height="60"
        />
        <div class="top-wrapper">
            <h3 class="top-c-title">mr fox</h3>
            <p class="top-avatar-desc">Total Sales: <span>34.53 ETH</span></p>
        </div>  </li>
      <li class="top-c-item">
        <span class="top-c-number">7</span>
        <img
          class="top-c-avatar-img"
          src="./img/avatars/Avatar7.jpg"
          alt="Shroomie"
          width="60"
          height="60"
        />
        <div class="top-wrapper">
            <h3 class="top-c-title">Shroomie</h3>
            <p class="top-avatar-desc">Total Sales: <span>34.53 ETH</span></p>
        </div>    </li>
      <li class="top-c-item">
        <span class="top-c-number">8</span>
        <img
          class="top-c-avatar-img"
          src="./img/avatars/Avatar8.jpg"
          alt="robotica"
          width="60"
          height="60"
        />
        <div class="top-wrapper">
            <h3 class="top-c-title">robotica</h3>
            <p class="top-avatar-desc">Total Sales: <span>34.53 ETH</span></p>
        </div>    </li>
      <li class="top-c-item">
        <span class="top-c-number">9</span>
        <img
          class="top-c-avatar-img"
          src="./img/avatars/Avatar9.jpg"
          alt="RustyRobot"
          width="60"
          height="60"
        />
        <div class="top-wrapper">
            <h3 class="top-c-title">RustyRobot</h3>
            <p class="top-avatar-desc">Total Sales: <span>34.53 ETH</span></p>
        </div>
      </li>
      <li class="top-c-item">
        <span class="top-c-number">10</span>
        <img
          class="top-c-avatar-img"
          src="./img/avatars/Avatar10.jpg"
          alt="animakid"
          width="60"
          height="60"
        />
        <div class="top-wrapper">
            <h3 class="top-c-title">animakid</h3>
            <p class="top-avatar-desc">Total Sales: <span>34.53 ETH</span></p>
        </div>    </li>
      <li class="top-c-item">
        <span class="top-c-number">11</span>
        <img
          class="top-c-avatar-img"
          src="./img/avatars/Avatar11.jpg"
          alt="Dotgu"
          width="60"
          height="60"
        />
        <div class="top-wrapper">
            <h3 class="top-c-title">Dotgu</h3>
            <p class="top-avatar-desc">Total Sales: <span>34.53 ETH</span></p>
        </div> </li>
      <li class="top-c-item">
        <span class="top-c-number">12</span>
        <img
          class="top-c-avatar-img"
          src="./img/avatars/Avatar12.jpg"
          alt="Ghiblier"
          width="60"
          height="60"
        />
        <div class="top-wrapper">
            <h3 class="top-c-title">Ghiblier</h3>
            <p class="top-avatar-desc">Total Sales: <span>34.53 ETH</span></p>
        </div>    </li>
    </ul>
    <button class="btn btn-primary btn-top" type="button">
        <svg class="icon-svg-logo top-icon" width="20" height="20">
          <use class="use-icon" href="./img/icons.svg#icon-rocket"></use>
        </svg>
        View Rankings
      </button>
  </div>
</section>
