<section class="trend section-padding">
  <div class="container">
      <h2 class="trend-title h2">Trending Collection</h2>
      <p class="trend-text">Checkout our weekly updated trending collection.</p>
      <div class="trend-gallery">
          <div class="trend-gallery-item">
              <a class="trend-gallery-link" href="#">
                <img class="gallery-img" src="./img/trend/big/dog-tab.jpg" alt="dog" />
              </a>
              <ul class="trend-list">
                <li class="trend-list-item">
                    <img class="trend-list-img" src="./img/trend/cat1.jpg" alt="cat">
                </li>
                <li class="trend-list-item">
                    <img class="trend-list-img" src="./img/trend/bear.jpg" alt="bear">
                </li>
                <li class="trend-list-item trend-link-item">
                    <a class="trend-link" href="#">1025+</a>
              </ul>
              <h3 class="trend-caregory">DSGN Animals</h3>
              <div class="trend-avatar">
                <img class="avatar-img" src="./img/avatars/Avatar6.jpg" alt="MrFox" width="24" height="24">
                <p class="avatar-name">MrFox</p>
              </div>
          </div>
            <div class="trend-gallery-item">
                <a class="trend-gallery-link" href="#">
                  <img class="gallery-img" src="./img/trend/big/mushroom-tab.jpg" alt="dog" />
                </a>
                <ul class="trend-list">
                    <li class="trend-list-item">
                        <img class="trend-list-img" src="./img/trend/mushroom1-tab.jpg" alt="mushroom">
                    </li>
                    <li class="trend-list-item">
                        <img class="trend-list-img" src="./img/trend/mushroom2-tab.jpg" alt="mushroom">
                    </li>
                    <li class="trend-list-item trend-link-item">
                        <a class="trend-link" href="#">1200+</a>
                  </ul>
                  <h3 class="trend-caregory">Magic Mushrooms</h3>
                  <div class="trend-avatar">
                    <img class="avatar-img" src="./img/avatars/Avatar7.jpg" alt="Shroomie" width="24" height="24">
                    <p class="avatar-name">Shroomie</p>
                  </div>
            </div>
            <div class="trend-gallery-item">
                <a class="trend-gallery-link" href="#">
                  <img class="gallery-img" src="./img/trend/big/disco-tab.jpg" alt="dog" />
                </a>
                <ul class="trend-list">
                    <li class="trend-list-item">
                        <img class="trend-list-img" src="./img/trend/disco.jpg" alt="disco">
                    </li>
                    <li class="trend-list-item">
                        <img class="trend-list-img" src="./img/trend/disco1.jpg" alt="disco">
                    </li>
                    <li class="trend-list-item trend-link-item">
                        <a class="trend-link" href="#">1550+</a>
                  </ul>
                  <h3 class="trend-caregory">Disco Machines</h3>
                  <div class="trend-avatar">
                    <img class="avatar-img" src="./img/avatars/Avatar12.jpg" alt="BeKind2Robots" width="24" height="24">
                    <p class="avatar-name">BeKind2Robots</p>
                  </div>
            </div>
        </div>

  </div>
</section>
