<section class="trend section-padding">
  <div class="container">
      <h2 class="trend-title h2">Trending Collection</h2>
      <p class="trend-text">Checkout our weekly updated trending collection.</p>
      <ul class="trend-gallery">
        <li>
          <a class="trend-gallery-link" href="#">
            <img class="gallery-img" src="./img/trend/big/dog-tab.jpg" alt="dog" />
          </a>
        </li>
        <li>
            <a class="trend-gallery-link" href="#">
              <img class="gallery-img" src="./img/trend/big/mushroom-tab.jpg" alt="dog" />
            </a>
          </li>
          <li>
            <a class="trend-gallery-link" href="#">
              <img class="gallery-img" src="./img/trend/big/disco-tab.jpg" alt="dog" />
            </a>
          </li>
      </ul>
      <ul class="trend-list">
        <li class="trend-list-item">
            <img class="trend-list-img" src="./img/trend/cat1.jpg" alt="cat">
        </li>
        <li class="trend-list-item">
            <img class="trend-list-img" src="./img/trend/bear.jpg" alt="bear">
        </li>
        <li class="trend-list-item trend-link-item">
            <a class="trend-link" href="#">1025+</a>
        </li>
      </ul>
      <h3 class="trend-caregory">DSGN Animals</h3>
      <div class="trend-avatar">
        <img class="avatar-img" src="./img/avatars/Avatar6.jpg" alt="MrFox" width="24" height="24">
        <p class="avatar-name">MrFox</p>
      </div>
  </div>
</section>
