/* space-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/space-mono-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/space-mono-v13-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* work-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/work-sans-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/work-sans-v19-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/work-sans-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: var(--ff-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  background-color: #2b2b2b;
}
.btn {
  display: flex;
  gap: 12px;
  height: 60px;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  font-family: 'Work Sans';
  font-weight: 600;
  line-height: 1.4;
  border-radius: 20px;
  background-color: #a259ff;
}
.h1-title {
  /* H1 - Space Mono */
  font-family: 'Space Mono';
  font-size: 67px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  text-transform: capitalize;
}

svg {
    fill: #fff;
}

/* Utility clases */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* container */

.container {
  max-width: 375px;
  padding: 0 30px;
  margin: 0 auto;
}
.container-header {
  max-width: 375px;
  margin: 0 auto;
}

@media screen and (min-width: 834px) {
  .container {
    max-width: 750px;
  }
  .container-header {
    max-width: 834px;
    padding: 0 50px;
  }
}
@media screen and (min-width: 1280px) {
    .container {
      max-width: 1046px;
    }
    .container-header {
        max-width: 1180px;
        padding: 0 50px;
      }
  }