.header {
  padding: 15px 0;
}
.nav {
  display: flex;
}
.nav-logo-link {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-right: auto;
}
.svg-logo {
}
.use-icon {
}
.svg-logo-text {
}
.nav-list {
  display: none;
}
.nav-item {
}
.nav-link {
}
.btn {
}
.btn-primary.btn-header {
  display: none;
}

.icon-svg-logo {
}
.burger-menu {
  /* height: 24px; */
  line-height: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}
.icon-svg-burger {
}

@media screen and (min-width: 834px) {
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 20px 0;
  }
  .nav-list {
    display: flex;
    gap: 10px;
  }
  .nav-item {
  }
  .nav-link {
    display: block;
    padding: 19px 20px;
    font-family: 'Work Sans';
    font-weight: 600;
  }

  .btn-primary {
  }
  .btn-primary.btn-header {
    display: flex;
    padding: 0px 30px;
  }
  .burger-menu {
    display: none;
  }
}
