.hero-flex {
  display: grid;
  gap: 40px;
}
.hero-title {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 600;
  text-transform: capitalize;
}
.hero-main-img {
}
.hero-img-wrapper {
}
.hero-img-tag {
  border-radius: 23px 23px 0px 0px;
  overflow: hidden;
}
.hero-img-text-wrapper {
  padding: 20px;
  border-radius: 0px 0px 23px 23px;
  background-color: #3b3b3b;
}
.hero-img-title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
}
.hero-avatar-wrapper {
  display: flex;
  gap: 12px;
}
.hero-avetar {
  border-radius: 50%;
  overflow: hidden;
}
.btn {
}
.btn-hero {
  padding: 0 50px;
  width: 100%;
}
.icon-svg-logo {
}
.use-icon {
}
.hero-list {
  display: flex;
  gap: 30px;
}
.hero-list-item {
}
.list-title {
  font-family: 'Space Mono';
  font-size: 22px;
  font-weight: 700;
  line-height: 1.6;
  text-transform: capitalize;
}

@media screen and (min-width: 834px) {
  .hero-flex {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 224px 60px 57px;
    column-gap: 30px;
    row-gap: 20px;
  }
  .hero-img-wrapper {
    grid-area: 1 / 2 / 3 / 2;
  }
  .hero-title {
    margin-bottom: 20px;
    font-size: 38px;
    line-height: 1.2;
  }
  .btn-hero {
    width: 224px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-flex {
    grid-template-rows: 347px 60px 57px;
    row-gap: 30px;
  }
  .hero-title {
    font-size: 67px;
    line-height: 1.1;
  }
  .hero-text {
    font-family: 'Work Sans';
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
  }
  .hero-list {
    gap: 50px;
  }
  .list-title {
    font-size: 28px;
    line-height: 1.4;
  }
  .list-text {
    font-size: 24px;
    line-height: 1.6;
    text-transform: capitalize;
  }
}
