.info {
}
.container-info {
  padding-top: 120px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(180deg, rgba(162, 89, 255, 0), #a259ff),
    url('../img/info/mushroom-mob.jpg');
  display: grid;
  gap: 30px;
}
.info-avatar {
  width: 151px;
  padding: 10px 20px;
  border-radius: 20px;
  background: #3b3b3b;
}
.info-title {
}
.info-timer {
  padding: 30px;
  border-radius: 20px;
  background: rgba(59, 59, 59, 0.5);
  backdrop-filter: blur(5px);
}
.timer-list {
  display: flex;
  gap: 30px;
}
.info-timer-p {
  margin-bottom: 10px;
}
.timer-list-item {
}
.timer-item-digits {
  position: relative;
  font-family: 'Space Mono';
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
}
.info-timer-p,
.timer-item-text {
  font-family: 'Space Mono';
  font-size: 12px;
  line-height: 1.1;
}
.two-digits::before {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translate(-50%, -50%);
  content: ':';
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
}
.btn {
}
.btn-primary {
}
.btn-info {
  background-color: #fff;
  color: #2b2b2b;
}
.icon-svg-logo {
}
.top-icon {
}
.use-icon {
}
@media (min-resolution: 192dpi) {
  .container-info {
    background-image: linear-gradient(180deg, rgba(162, 89, 255, 0), #a259ff),
      url('../img/info/mushroom-mob@2x.jpg');
  }
}
@media screen and (min-width: 834px) {
  .container-info {
    max-width: 730px;
    padding-top: 360px;
    padding-bottom: 60px;
    background-image: linear-gradient(180deg, rgba(162, 89, 255, 0), #a259ff),
      url('../img/info/mushroom-tab.jpg');
    grid-template-columns: 1fr 295px;
    grid-template-rows: auto;
    grid-template-areas:
      'avatar timer'
      'title timer'
      'btn timer';
  }
  .info-title {
    grid-area: title;
    font-size: 38px;
    line-height: 1.2;
  }
  .info-avatar {
    grid-area: avatar;
  }
  .btn-info {
    grid-area: btn;
    width: 198px;
  }
  .info-timer {
    grid-area: timer;
    align-self: end;
    /* justify-self: end; */
  }
}
@media (min-resolution: 192dpi) and (min-width: 834px) {
  .container-info {
    background-image: linear-gradient(180deg, rgba(162, 89, 255, 0), #a259ff),
      url('../img/info/mushroom-tab@2x.jpg');
  }
}
@media screen and (min-width: 1280px) {
  .container-info {
    max-width: 1110px;
    background-image: linear-gradient(180deg, rgba(162, 89, 255, 0), #a259ff),
      url('../img/info/mushroom-desktop.jpg');
  }
  .info-title {
    font-size: 51px;
    line-height: 1.1;
  }
}
@media (min-resolution: 192dpi) and (min-width: 1280px) {
  .container-info {
    background-image: linear-gradient(180deg, rgba(162, 89, 255, 0), #a259ff),
      url('../img/info/mushroom-desktop@2x.jpg');
  }
}
